%h1=t('.titlearticles')
%table
  %thead
    %tr.headerArticle
      %th Author
      %th Title


  %tbody
    - @articles.each do |article|
      %tr.listArticles{"data-link" => url_for(:action => 'show', :id => article.id)}

        %td.author= article.author
        %td= article.title
