%h1 Articles

%table
  %thead
    %tr.headerArticle
      %th Author
      %th Title


  %tbody
    - @articles.each do |article|
      %tr.listArticles{"data-link" => url_for(:action => 'show', :id => article.id)}

        %td.author= article.author
        %td= article.title
        -# -# %td= article.articleText
        -# %td= link_to 'Show', article
        -# %td= link_to 'Edit', edit_article_path(article)
        -# %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }

-# %br
-#
-# = link_to 'New Article', new_article_path
-# - {"data-link" => url_for(:action => 'show', :id => article.id)}

:javascript
  $(document).ready(function(){
    $(".listArticles[data-link]").click(function(item) {
      window.location = $(this).data("link");
    });
  });
