-# Contains navigation bar for the app
%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand
        = image_tag ("pyramid.jpg")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to t('.home'), "/"
      %ul.nav.navbar-nav.navbar-right
        %li=link_to t('.pharaohs'), "/pharaohs"
        %li=link_to t('.articles'), "/articles"
        %li=link_to t('.contact_nav'), "/contact"





- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
