%h1=t('.title')
%p.welcomeNote=t('.welcome')


%span.textHome
  =link_to t('.pharaoh_title'), "/pharaohs", :class => "textHome phar"
  =link_to t('.article_title'), "/articles", :class => "textHome art"
