%h1=t('.title')
%p=t('.welcome')


-#
-# //.pictures
-#   -# = link_to image_tag("mainpharoh.jpg", size: "90x90", alt: "Pharaohs", :class => "pic"), "/pharaohs"
-#
-#   -# = link_to image_tag("papyrus.jpg", size: "90x90", alt: "Articles", :class => "pic"), "/articles"


%span.textHome
  %a.textHome.phar{:href => "/pharaohs"} Pharaohs
  %a.textHome.art{:href => "/articles"} Articles



-# .pictures
-#   = image_tag("amenhottep.jpeg", size: "90x90", :class => "pic")
-#   = "Amenhotep"
-#   = image_tag("hatshepsut.jpg", size: "90x90", :class => "pic")
-#   = "Hatshepsut"
-#   = link_to image_tag("ramesses.jpg", size: "90x90", :class => "pic"), "/pharaohs/Pharaoh/"
-#   = "Ramesses II"
-#   = image_tag("thutmos.jpg", size: "90x90", :class => "pic")
-#   = "Thutmose III"
-#   = image_tag("tutankhamun.jpg", size: "90x90", :class => "pic")
-#   = "Tutankhamun"
  -# <img src = "<%=Pharaoh.picture%>"
-# <%
-# Pharaoh.all.each do |p|
-#
-# %>
