%h1 Listing pharaoh_articles

%table
  %thead
    %tr
      %th Pharaoh
      %th Article
      %th
      %th
      %th

  %tbody
    - @pharaoh_articles.each do |pharaoh_article|
      %tr
        %td= pharaoh_article.name
        %td= pharaoh_article.title
        
