%h1 Pharaohs

%table
%tbody
  - @pharaohs.each do |pharaoh|
    %tr
    .flexImages
      %td= link_to (image_tag pharaoh.image.url(:medium), class: 'image'), pharaoh
-#   -#         %td= pharaoh.name
-#   -#         %td= pharaoh.tenure
-#   -#         %td= pharaoh.successor
-#   -#         %td= pharaoh.biography
-#   -#         %td= link_to 'Show', pharaoh
-#
-#   -#         %td= link_to 'Edit', edit_pharaoh_path(pharaoh)
-#   -#         -#%td= link_to 'Destroy', pharaoh, method: :delete, data: { confirm: 'Are you sure?' }
-# -#
-# -# %br
-# -#
-# -# = link_to 'New Pharaoh', new_pharaoh_path


-#    %thead
-#      %tr
-# -#       %th Name
-# -#       %th Tenure
-# -#       %th Successor
-# -#       %th Biography
-# -#       %th
-# -#       %th
-# -#       %th
-
