%h1 Listing pharaohs

%table
  %thead
    %tr
      %th Name
      %th Tenure
      %th Successor
      %th Biography
      %th 
      %th
      %th

  %tbody
    - @pharaohs.each do |pharaoh|
      %tr
        %td= pharaoh.name
        %td= pharaoh.tenure
        %td= pharaoh.successor
        %td= pharaoh.biography
        -#%td= link_to 'Show', pharaoh
        -#%td= link_to 'Edit', edit_pharaoh_path(pharaoh)
        -#%td= link_to 'Destroy', pharaoh, method: :delete, data: { confirm: 'Are you sure?' }

%br

-#= link_to 'New Pharaoh', new_pharaoh_path
