-# .pharaohDesc
-# %p.pharaoh.Image
-#   %b
-#   = image_tag (@pharaoh.image.url)

%p.pharaoh.Name
  = @pharaoh.name
%p
  %b.pharaoh.Text Tenure
  = @pharaoh.tenure
%p
  %b.pharaoh.Text Successor
  = @pharaoh.successor
%p
  %b.pharaoh.Text Biography
  = @pharaoh.biography

-# = link_to 'Edit', edit_pharaoh_path(@pharaoh)
-# \|
-# = link_to 'Back', pharaohs_path
