/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font:'Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace';
$navbarcolour: #cc9900;

body{
  font-family: $font;
min-height: 100%;

}

h1{

padding-top: 40px;
text-align: center;
color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE;
}

p{
  padding-top: 20px;

  text-align: center;
  font-size: 18px;
  font-family: $font;
  padding: 10px;
letter-spacing: 5px;
}

.welcomeNote{
  background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE;
  }


  .pharaoh{

    text-align: center;
    padding-top: 15px;
  }
  .pharaoh.Name{
    font-size: 35px;
    font-weight: bold;
    border-style: ridge;
    box-shadow:0 0 5px #f66 ;
  //  border-width: 15px;
    border-radius: 5px;
     width: 17%;
    height: 50px;
    margin: 0 auto;

  }
  .pharaoh.Text{
    font-size: 20px;
    text-align: center;
    vertical-align: top;
   display: block;
   padding: 0px;
   padding: 18px;

  }

.navbar.navbar-default {
background-color: $navbarcolour;
padding-top: 0px;
margin: 0;
  font-size: 15px;
   color:  #ecf0f1 !important;

}
.navbar-brand{
  position: relative;
  width: 170px;
  left: 0px;
   height: auto;


}



.nav a{

  font-size: 20px;
  width: 100%;
    left: 0px;

     font-family: $font;
     padding: 0;
     margin: 0;
     padding-top: 30px !important;
     display: inline-block;
     text-align:center ;
     color:  #ecf0f1 !important;
     padding-left: 40px;
   }
   .profile{
     padding-right: 0;
     text-align: center;
      color:  #ecf0f1 !important;
      float: right;

   }

   .footer{
  position: absolute;
   bottom: 0;
   width: 100%;


   }
